@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins.scss';

.mainBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: $bgColor;
    .particles {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.5;
    }
    .mainContainer {
    z-index: 1;
    .aboutMe {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        .greeting {
            width: 390px;
            background-color: $bgSecondColor;
            padding: 0 10px 0 10px;
            @include text(('Josefin Sans', sans-serif), 18px, 1.2);
            border: 1px solid wheat;
            text-align: justify;
        }
        .photoContainer {
            width: 340px;
            margin-top: 15px;
            border: 5px solid wheat;
            & img {
                width: 100%;
                height: 90%;
                margin: -15px -15px 10px -10px;
            }
        }
    }
    .contacts {
        width: 400px;
        margin-top: 40px;
        margin-bottom: 30px;
        background-color: $bgSecondColor;
        @include text(('Josefin Sans', sans-serif), 20px, 1.2);
        text-align: center;
        border: 1px solid wheat;
    }
}
}