.nav {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid;
    margin-right: 10px;
}

.nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(76, 7, 78);
}

.nav a:hover {
    color: white
}